/* stylesheet used for default.html.ep layout */

.container * {
  margin: auto;
  text-align: center;
}

.container {
  width: 600px;
  height: 500px;
}

#content.action-enqueue,
#content.action-enqueue_form {
  margin-top: 40%;
}

#content.action-explore {
  margin-top: 30px;
}

.progress,
input[type="url"] {
  width: 98%;
  height: 2em;
  font-size: 1.4em;
}

input[type="submit"].btn {
  width: 50%;
  margin-top: 10px;
}

p {
  padding: 10px;
  font-size: 1.2em;
}

p.footnote {
  margin-top: 30px;
  font-size: 0.9em;
}

p.message {
  display: block;
  height: 1em;
  text-align: center;
}

.explore-link,
.enqueue-link {
  line-height: 2em;
  padding-top: 0.8em;
}
.explore-link a,
.enqueue-link a {
  font-size: 1.2em;
}

.action-explore li {
  padding-bottom: 1em;
}

h1 {
  padding-bottom: 20px;
}
