body {
  padding: 0;
  margin: 0;
}

.background {
  fill: #f4f4f4;
  stroke: #bbb;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

svg {
  display: block;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
}
