body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
}

svg {
  display: block;
}

.background {
  stroke: #bbb;
  fill: #f4f4f4;
}

.dense .background {
  fill: #fff;
}

line {
  stroke: #fff;
}

.dense line {
  stroke: none;
}

text.active {
  fill: red;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #f4f4f4;
  opacity: 0.9;
  padding: 10px;
}

#order {
  width: 100%;
}
